<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- internal css-->
    
</head>
<body style="background-color:white;">
    <nav>
        <a href="../index.html">Home ||</a>
        <a href="./about.html">About ||</a>
        <a href="./view my Git Repos.html">View my Git Repos</a>
<!-- nav bar box to html -->
<nav>
    <div class="boxa">
        <img src="/images/LOGO.svg">

    </div>
    <div class="boxb">
        <a href="">About me||</a>
        <a href="">Skills||</a>
        <a href="">Portfolio||</a>
        <a href="" class="contact">CONTACT</a>

    </div>
</nav>
<!-- here section-->
 <div class="hero">
    <div class="boxa">
        <h6 style="color:blue;text-align:center;">Hi, I am </h6>
        <h2>Oyewo Jeremiah</h2>
        <p>Front-end Developer / Product Manager</p>
        <div class="btns">
            <img src="/images/logo 1.svg">
            <img src="/images/logo 2.svg">
            <img src="/images/logo 3.svg">
        </div>
    </div>
    <div class="boxb">
        <img src="" alt="">
        
    </div>
    <div class="boxc">
        <h3> Using Now</h3>
        <div class="btns">
            <img src="/images/Using now 1.svg"><br>

            <img src="/images/Using now 2.svg"><br>

            <img src="/images/Using now 3.svg"><br>

            <img src="/images/Using now 4.svg"><br>

            <img src="/images/Using no 5.svg"><br>

            <img src="/images/Using now 6.svg"><br>

            <img src="/images/Using now 7.svg"><br>

            <img src="/images/Using now 8.svg">
        </div>
        <div class="boxd">
            <h3> Learning</h3>
            <div class="btns">
                <img src="/images/Learning 1.svg"><br>

                <img src="/images/Learning 2.svg"><br>

                <img src="/images/Learning 3.svg"><br>

                <img src="/images/Learning 4.svg"><br>
            </div>
           <div class="boxd">
            <h3> Other Skills</h3>
            <div class="btns">
                <img src="/images/Other skills1.svg"><br>

                <img src="/images/Other skills 2.svg"><br>

                <img src="/images/other skills 3.svg"><br>

                <img src="/images/other skills 4.svg"><br>
            </div>

        </div>
        <div class="break">
            <h4> PORTFOLIO </h4>  
        </div>
        <div class="boxe">
            <h4>ALL</h4><br>
            <h4>DESIGNED</h4><br>
            <h4>CODED</h4><br>
            <img src="/images/images (66).jpeg">

        </div>
        <div  class="boxf">
            <h5> CONTACT</h5><br>

            <h5>ENTER YOUR NAME</h5><br>

            <h6>ENTER YOUR PHONE</h6><br>

            <h6>YOUR MESSAGE</h6><br>

            <h4> <b>SUBMIT</b></h4><br>


        </div>


    </div>
 </div>
<body>
    
</body>
</html>